<section class="contact" id = "contact">
    <h2 class="contact-head">Contact</h2>
    <div class="contact-info">
        <h4 class="contact-info-head">Head Office</h4>
        <ul class="contact-info-content">
            <li>Opposite Exon Montessori, Campbell Road Lucknow</li> 
        </ul>
    </div>
    <div class="contact-info">
        <h4 class="contact-info-head">Branches</h4>
        <ul class="contact-info-content">
            <li>Above Mr. Sandwich, near C Block Rajajipuram</li>
            <li>Near Novelty Aliganj</li>
        </ul>
    </div>
    <div class="contact-info">
        <h4 class="contact-info-head">Call us at</h4>
        <ul class="contact-info-content">
            <li>969689360</li>
            <li>8887672904</li>
        </ul>
    </div><div class="contact-info">
        <h4 class="contact-info-head">Write To Us</h4>
        <ul class="contact-info-content">
            <li>{{ site.email }}</li>
        </ul>
    </div>
</section>