<section class="donate" id ="donate">
    <h3 class="donate-head">Donate For The Cause</h3>
    <hr>
    <p class="donate-para">
        Your kind donation today helps a under-priviledged child to be a nation builder of tommorrow.
    </p>
    <p class="donate-para">
        You can choose for <b>Monthly</b> or <b>One Time Donation</b> (of any amount)
    </p>

    <div class="donate-action">
        <h6 class="donate-action-head">Contact us for more information</h6>
        <p class="donate-action-content">9696894360</p>
        <p class="donate-action-content">8887672904</p>
    </div>
    <div class="donate-action">
        <h6 class="donate-action-head">Write to us for more queries</h6>
        <p class="donate-action-content">query@wingsfoundations.com</p>
    </div>
    <div class="donate-action">
        <h6 class="donate-action-head">Visit us at our study center</h6>
        <p class="donate-action-content">
            <a href="#contact" class="smooth-scroll"> Tap to know location</a>   
        </p>
    </div>
    <hr>

    <p class="donate-foot">Your suggestion and support is heartedly welcome. Please contact us via any of the above given methods to do so.</p>
</section>