--- 
--- 

:root{
    //measurements
    --spacer:10px;

    --color-btn:#287C9B;
    --color-background:#FFF6F9;
    --color-font:#242020;
    --color-footer:#BCEBFC;
    --color-footer-font:#287C9B;
    --color-font-light:#fff;
    --color-dark-opacity:rgba(107, 111, 115, 0.3);
    --gradient-hero:linear-gradient(180deg, #FFF7F9 0%, #FFF6F9 27.28%, rgba(107, 111, 115, 0.6) 48.34%, rgba(34, 45, 49, 0) 100%);


}