---
--- 

:root{
    //measurements
    --spacer:10px;

    --color-btn:#287C9B;
    --color-background:#FFF6F9;
    --color-font:#242020;
    --color-footer:#BCEBFC;
    --color-footer-font:#287C9B;
    --color-font-light:#fff;
    --color-dark-opacity:rgba(107, 111, 115, 0.3);
    --gradient-hero:linear-gradient(180deg, #FFF7F9 0%, #FFF6F9 27.28%, rgba(107, 111, 115, 0.6) 48.34%, rgba(34, 45, 49, 0) 100%);


}

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    background:lightblue;
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    color:var(--color-font);
    background:var(--color-background);
}


//header
header{
    background:var(--color-background);
    overflow:hidden;
    width:100%;
    height:80px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    .logo{
        margin-left:var(--spacer);
        width:60px;
        height:40px;
        img{
            width:100%;
        }
    }
    nav{
        display:flex;
        justify-content:space-between;
        align-items:center;
        width:30%;
        margin-right: var(--spacer);

        .head-btn{
            border:none;
            background:var(--color-btn);
            padding:7px 12px;
            border-radius:10px;
            color:var(--color-font-light);
            font-size:16px;
            a{
                text-decoration:none;
                color:var(--color-font-light);
            }
            &:hover{
                background:transparent;
                box-shadow: inset 0px 0px 0px 2px var(--color-font);
                a{
                    color:var(--color-font);
                }
            }

        }
       
        .hamburger-menu-options{
            overflow:hidden;
            position:fixed;
            top:0;
            right:0;
            list-style-type:none;
            width:0;
            height:100vh;
            z-index:100;
            background:var(--color-background);
            display:flex;
            flex-direction:column;
            transition:width 150ms linear;
            background:rgb(183, 183, 243);


            .hamburger-close-btn{
                text-align:right;
                width:20%;
                align-self:flex-end;
            }
            li{
                // border:2px solid red;
                padding:20px;
                width:100%;

               
                a{
                    text-decoration:none;
                    color:var(--color-font);
                    font-weight:600;
                    font-size:0;
                }
            }

          
        }
        .hamburger-menu-options-open{
            width:60vw;
            li {
                a{
                    font-size:20px;
                }
            }
        }
    }
}


//commons
section{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:calc( 2 * var(--spacer));
    text-align:center;

}


//hero
.hero{
    height:100vh;
    justify-content:flex-start;
    background:var(--gradient-hero);
    position:relative;
    overflow:hidden;
    &-content{
        // border:2px solid red;
        text-align:center;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:flex-start;
        height:70%;
        &-head{
            // border:2px solid red;
            width:68%;
            font-size:40px;
            position:relative;
            margin:20px;
            &::before{
                content:'';
                position:absolute;
                width:120%;
                height:2px;
                background:black;
                bottom:-10%;
                left:-10%;
            }
        }
        &-moto{
            width:85%;
            font-size:16px;
        }
        &-para{
            width:85%;
            margin:20px;
            font-size:16px;
            font-weight:400;
        }
        &-btn{
            border:none;
            border-radius:10px;
            background:var(--color-btn);
            color:var(--color-font-light);
            padding:10px 15px;
            margin-top:20px;
            font-size:16px;
            a{
                text-decoration:none;
                color:var(--color-font-light);
            }
            &:hover{
                background:transparent;
                box-shadow: inset 0px 0px 0px 2px var(--color-font);
                a{
                    color:var(--color-font);
                }
            }
        }
    }
    img{
        // width: 100vw;
        width:100vw;
        min-width:330px;
        transform:translateY(-40%);
        // min-width:448px;
        // position:absolute;
        top:20px;
        left:0;
        z-index:-10;
        align-self:center;
        justify-self:center;
        
    }
    margin-bottom:0;
    padding-bottom:0;
    // background:lightblue;
}

.what,
.why,
.who,
.memories{
    &-head{
        font-size:40px;
        font-weight:700;
    }
    &-tagline{
        font-size:20px;
        font-weight:500;
        margin-bottom:20px;
    }
    &-para{
        padding:20px 15px;
        // border:2px solid red;
        font-size:16px;
        b{
            font-weight:600;
        }        
    }
    &-btn{
        background:var(--color-btn);
        border:none;
        border-radius:10px;
        padding:10px 25px;
        color:var(--color-font-light);
        font-size:18px;
        a{
            text-decoration:none;
            color:var(--color-font-light);
        }
        &:hover{
            background:transparent;
            box-shadow: inset 0px 0px 0px 2px var(--color-font);
            a{
                color:var(--color-font);
            }
        }
    }
}

.why{
    &-box{
        width:80vw;
        display:flex;
        flex-direction:column;
        align-items:center;
        margin:10px;
        &-head{
            font-size:16px;
            font-weight:700;
        }
        &-circle{
            width:350px;
            height:350px;
            border-radius:50%;
            margin:30px;
            flex-shrink:none;
            overflow:hidden;
            position:relative;
            img{
                height:100%;
                position:absolute;
            }
        }
        &-para{
            padding:10px 35px;
            font-size:14px;
        }
    }
    &-box-1{
        img{
            bottom:0;
            right:-10%;
        }
    }
    &-box-2{
        img{
            bottom:0;
            right:-30%;
        }
    }
}

.donate{
    border:2px solid var(--color-font);
    border-radius:20px;
    margin:20px 30px;
    align-items:flex-start;
    &-head{
        font-size:26px;
        margin-bottom:20px;
        width:100%;
    }
    &-para{
        padding:20px 5px;
        font-size:14px;
        text-align:left;
        b{
            font-weight:600;
        }        
        
    }

    &-action{
        text-align:left;
        margin:20px 10px;
        &-head{
            font-size:16px;
            font-weight:600;
        }
        &-content{
            padding:8px;
            font-size:14px;
        }
    }
    &-foot{
        padding:0;
        width:100%;
        font-size:14px;
        // margin:10px 0;
        margin-top:20px;
    }
    hr{
        width:100%;
        color:var(--color-font);
    }
}

.who{
    .team-member{
        margin:40px;
        width:350px;
        height:350px;
        border-radius:50%;
        overflow:hidden;
        position:relative;
        &-image{
            width:100%;
            position:absolute;
            transition: transform 250ms linear;
        }
        &-detail{
            background:rgba(10, 58, 107, 0.6);
            color:rgb(216, 215, 215);
            position:absolute;
            bottom:0;
            left:0;
            width:100%;
            height:30%;
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:center;
            &-name{
                font-size:16px;
                font-weight:700;
            }
            &-roll{
                font-size:12px;
            }
        }
        &:hover{
            .team-member-image{
                transform:scale(1.2);
               
            }
        }
    }
    .team-member-1{
        .team-member-image{
            bottom:-10%;
            right:0;
        }
    }
    .team-member-2{
        .team-member-image{
            bottom:-55%;
            right:0;
            width:150%;
        }
        
    }
    &-btn{
        margin:30px;
        margin-top:40px;
    }
}

.memories{
    .memory{
        width:100%;
        max-width:600px;
        margin:20px;
        &-img{
            border:2px solid var(--color-font);
            width:90%;
        }
        &-description{
            padding:10px;
            font-size:16px;
        }
    }
    &-btn{
        margin-top:30px;
    }
}

.contact{
    align-items:flex-start;
    text-align:left;
    &-head{
        font-size:38px;
        margin-bottom:20px;
        width:100%;
        text-align:center;
    }
    &-info{
        margin:10px;
        &-head{
            font-size:20px;
            font-weight:600;
        }
        &-content{
            // list-style-type:none;
            margin:10px 18px;
            li{
                margin:8px 0;
            }
        }
    }
}

footer{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
    background:#555252;
    color:white;
    p{
        width:100%;
        padding:10px;
        a{
            color:white;
        }
    }
}

@media only screen and (min-width : 600px ){

    header{
        nav{
            .head-btn{
                font-size:20px;
            }
        }
        .hamburger-menu{
            width:150px;
        }
        
    }
    .hero{
        background:linear-gradient(180deg, #FFF7F9 0%, #FFF6F9 27.28%, rgba(107, 111, 115, 0.6) 78.34%, rgba(34, 45, 49, 0) 100%);
        &-content{
            &-head{
                font-size:50px;
            }
            &-moto{
                font-size:20px;
            }
            &-para{
                font-size:20px;
            }
            &-btn{
                font-size:20px;
            }    
        }
        img{

        }
        
    }
}

@media only screen and (min-width : 700px){
    .container{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        width:100vw;
    }
    .hero{
        width:100%;
        &-content{
            width: 600px;
           
        }
    }
    .what,
    .why,
    .who,
    .memories,
    .donate,
    .contact{
        &-head{
            font-size:45px;
        }
        &-tagline{
            font-size:25px;
        }
        &-para{
            font-size:20px;
        }
    }
    .what{
        width:700px;
    }
    .why{
        width:100%;
        &-box{
            width:400px;
            display:inline-flex;
            &-head{
                font-size:22px;
            }
            &-para{
                font-size:20px;
            }
            &-circle{
                width:250px;
                height:250px;
            }
        }
    }
    .donate{
        width:700px;
        &-action{
            &-head{
                font-size:22px;
            }
            &-content{
                font-size:20px;
            }
        }
        &-foot{
            font-size:18px;
        }
    }
    
    .who{
        width:800px;
        .team-member{
            display:inline-flex;
            width:250px;
            height:250px;
        }
    }
    .contact{
        width:700px;
        &-info{
            &-head{
                font-size:20px;
            }
            &-content{
                font-size:18px;
            }
        }
    }
    footer{
        width:100%;
    }
}
@media only screen and (min-width : 800px){
    .hero{
        height:500px;
        background:linear-gradient(180deg, #FFF7F9 0%, #FFF6F9 17.28%, rgba(107, 111, 115, 0.3) 98.34%, rgba(34, 45, 49, 0.5) 100%);
       

        // color:white;
        img{
            transform:translateY(-60%);
        }
    }
}