<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ site.title }} | Team</title>
    {% include head.html %}

    <link rel="stylesheet" href='{{"/assets/css/team.css" | absolute_url }}'>
</head>
<body>
    {% include header.html %}
<div class="container">

    <section class="team">
        <h1 class="team-member-head">Our Team Comprises of </h1>

        <div class="team-member">
            <div class="team-member-image">
                <img src="{{ '/assets/images/ngo-president-min.jpg' | absolute_url }}" alt=""> 
            </div>
            <div class="team-member-detail">
                <h2 class ="team-member-detail-name">Farhaan Habeb</h2>
                <p  class ="team-member-detail-para"> A dedicated teacher cum social activist in the field of education for more than 10 years. Have been continously associated with reputed schools with extensive experience in student handling and curriculum design for underprivileged children.  </p>
                <ul class ="team-member-detail-qualification">
                    <li>Msc Mathematics</li>
                    <li>MA History</li>
                    <li>President - NGO Wings Foundation</li>
                </ul>

            </div>
        </div>
        <div class="team-member">
            <div class="team-member-image">
                <img src="{{ '/assets/images/ngo-manager-min.jpg' | absolute_url }}" alt=""> 
            </div>
            <div class="team-member-detail">
                <h2 class ="team-member-detail-name">Vishal Pandey</h2>
                <p class ="team-member-detail-para"> A social activist in the field of education with tremendous experience in human relations and understanding the problems of weak and non school children.  </p>
                <ul  class ="team-member-detail-qualification">
                    <li>MA History</li>
                    <li>Manager - NGO Wings Foundation</li>
                    <li>Treasurer - NGO Wings Foundation </li>
                </ul>

            </div>
        </div>
        <div class="team-member no-image">
            <!-- <div class="team-member-image">img</div> -->
            <div class="team-member-detail">
                <h2 class ="team-member-detail-name"> Dr. Pooja Saroj</h2>
                <p  class ="team-member-detail-para"> A doctor by profession,is a part of Social work for education of children from college days. Have been playing an active role from past five years.  </p>
                <ul class ="team-member-detail-qualification">
                    <li>Vice President - NGO Wings Foundation</li>
                </ul>
            </div>
        </div>
        <div class="team-member no-image">
            <!-- <div class="team-member-image">img</div> -->
            <div class="team-member-detail">
                <h2 class ="team-member-detail-name">Nadeem Arshad</h2>
                <p   class ="team-member-detail-para"> A dedicated teacher cum social worker cum RTI activist who has been in this field for more than 20 years now. Have been a strong pillar of our NGO and provides logistic and legal support.  </p>
                <ul class ="team-member-detail-qualification">
                    <li>Secretary - NGO Wings Foundation</li>
                </ul>
            </div>
        </div>

        <div class="team-member no-image">
            <!-- <div class="team-member-image">img</div> -->
            <div class="team-member-detail">
                <h2 class ="team-member-detail-name">Shoaib Ahmad</h2>
                <p   class ="team-member-detail-para"> A hardworking and dedicated member of the organisation since the conception of the idea. A major support system and crucial branch of organisational work</p>
                <ul class ="team-member-detail-qualification">
                    <li>Member - NGO Wings Foundation</li>
                </ul>
            </div>
        </div>
        <div class="team-member no-image">
            <!-- <div class="team-member-image">img</div> -->
            <div class="team-member-detail">
                <h2 class ="team-member-detail-name">Sadiya Khan</h2>
                <p  class ="team-member-detail-para"> A dedicated member of the NGO since its conception. Have been with the organisation to support and nurture its ever growing needs. </p>
                <ul class ="team-member-detail-qualification">
                    <li>Member - NGO Wings Foundation</li>
                </ul>
            </div>
        </div>
        <div class="team-member no-image">
            <!-- <div class="team-member-image">img</div> -->
            <div class="team-member-detail">
                <h2  class ="team-member-detail-name">Nishtha Mehrotra</h2>
                <p class ="team-member-detail-para"> A solicite support system of the NGO. Have hand in providing crucial support to the organisation in substantial ways </p>
                <ul class ="team-member-detail-qualification">
                    <li>Member - NGO Wings Foundation</li>
                </ul>
            </div>
        </div>

    </section>
    {% include donate.html %}

    {% include contact.html %}
</div>
    {% include footer.html %}
</body>
</html>